[2018-10-15 05:26] davrodpin opened #6 "Alias is created without the required options"
## Affected Version

v.0.2.0

## Expected Behavior

The app should fail and raise an error message if both `-remote` and `-server` options were not provided

## Current Behavior

The app accepts the command and adds an entry on `$HOME/.mole.conf`

## Steps to Reproduce

[code]

[2018-10-15 17:30] davrodpin opened #10 "New feature: run mole in background mode"
Add a `-detach` argument to the CLI to flag the application must be detached from the current terminal and run in background. User should be able to redirect `stdout` and `stdin` to log files for auditing purposes

[2018-10-15 17:42] davrodpin opened #11 "New feature: insecure mode"
Implement a new flag, `-insecure` that will ignore the host key checking while establishing connection to the ssh server.

**Potential Solution**

Along with the CLI argument parsing, the code would need to skip setting the `HostKeyCallback` to `ssh.ClientConfig` on `tunnel/tunnel.go`

https://github.com/davrodpin/mole/blob/8f08748587247571cd489d6b25e579d16758cf8b/tunnel/tunnel.go#L238

[2018-10-15 17:46] davrodpin opened #12 "New feature: Make timeout connection to ssh server configurable"
New CLI flag to configure the client timeout while trying to establish a connection with the ssh server.

**Potential Solution**

Along with the addition of a new cli flag, the following code would need to be changed to use the given timeout value:

https://github.com/davrodpin/mole/blob/8f08748587247571cd489d6b25e579d16758cf8b/tunnel/tunnel.go#L239

[2018-10-15 19:18] m3hari commented on #12
I will take this

[2018-10-15 20:04] davrodpin opened #13 "New feature: use LocalForward option from SSH config file"
SSH config file supports an option, `LocalForward` that specifies a local port to be forwarded to a remote machine over the ssh connection established to the given server.

Making `mole` to use that option would help users that are already using it on their ssh config file to:

  * Not duplicate the option in the ssh config file (i.e. `LocalForward`),  and in the `mole` aliases file (i.e. `local`

[2018-10-16 06:29] 4ltieres commented on #13
I'm working on this.

[2018-10-16 11:30] BenMcH commented on #10
This will be a chore to implement. If someone wanted to take this on, you could look at utilizing sevlyar/go-daemon.

[2018-10-16 16:20] davrodpin commented on #10
Another good resource about support for daemonize in Go: https://github.com/golang/go/issues/227

[2018-10-16 23:41] davrodpin opened #19 "infra: better and platform-independent way to install mole"
The project should have a shell script that, once executed, would detect the system architecture then download the proper binary then install it.

How to find OS name and architecture:

* macOS

[code]

* linux

[code]

The installation process would look like to:

[code]

[2018-10-17 12:38] ricardoseriani commented on #19
I'll can take this one, if  possible.

The script will also uncompress the .tar.gz ?
If so, what directory it will put the binary ?

[2018-10-17 12:40] dschep opened #22 "Support all types of SSH tunnels"
Interesting tool @davrodpin!

I'd expect a tool for managing SSH tunnels to support reverse (`ssh -R`) and dynamic (`ssh -D`) tunnels.

Reverse tunnels could be implemented by a `-reverse` flag that causes ssh to be spawned with `-R` instead of `-L`.

Dynamic tunnels could be implemented by a `-dynamic` flag with makes mole not need(in fact should error if it is present) the `-remote` flag.

[2018-10-17 18:44] ricardoseriani commented on #19
Thanks for the instructions.
I'll work in this and send a PR.

[2018-10-17 18:51] davrodpin commented on #22
Thanks, @dschep! Also thanks for providing feedback.

We definitively want to support more types of tunnels.

I've got similar feedback from Hacker News. I am going to paste here to hep on the discussion.

[code]

[2018-10-17 19:23] davrodpin opened #24 "Reconnect to ssh server if connection drops"
The feedback below came from a Hacker News discussion:

This might be a good feature to implement, maybe a new optional flag to indicate how many consecutive attempts should be made before giving up.

[2018-10-18 00:12] jessebarton commented on #24
I'm pretty new to open source but i'm willing to give this one a shot. Since its Hacktober! Any pointers on getting started with adding a feature like this I've worked with Go's crypto/ssh library a bit.

Looks like adding a Optional Flag to indicate consecutive attempts is a criteria for this before it times out completely. Is there any other criteria you can think of? Thanks!

[2018-10-18 01:56] davrodpin commented on #24
Thank you very much for considering contributing to the project, @jessebarton. And don't worry about being new to open source, this is my first project 😝

The more I think about this feature, the more I see a need for two different requirements:

1. **Server Reconnect**: the app should try to reconnect to the ssh server whenever the connection gets dropped.
2. **Keep Alive**: the app should keep s

[2018-10-18 02:14] davrodpin opened #25 "Provide short version of flag names"
For users familiar with the app, having a shorter version of the flag names could save some time while typing the option.

**Proposal for mole's flag names supported on version 0.5.0**

| long | short |
|-----|------|
| -alias | -a |
| -aliases | -I |
| -connection-retries | -R |
| -delete | -d |
| -detach | -x |
| -help | -h |
| -insecure | -i |
| -keep-alive-interval | -K |
| -key | -k |
| -loca

[2018-10-18 02:27] davrodpin opened #26 "New feature: Persistent Connection"
The app could keep sending a keep-alive packet to the ssh server to avoid connection time outs configured on the server side.

Those synthetic, null packets should be sent every `10 seconds` by default, with a flag , `-ka-interval`, to allow the user to override this value.

In case the ssh server does not respond to the keep-alive packets, the app should keep trying to send them `three (3) times`

[2018-10-18 02:48] davrodpin commented on #26
I will work on this one.

[2018-10-18 13:49] ricardoseriani commented on #19
While I'm working on this, the only "problem" I found is that, in order to extract the files in `/usr/local/bin` it may require administrative privileges.
It's ok to ask for permission using sudo, or you prefer another option ? (like extract in the current folder, although in that case the file move has to be done manually).

[2018-10-18 16:19] mukulrawat1986 commented on #26
Can I work on this @davrodpin ?

[2018-10-18 16:20] davrodpin commented on #19
To provide a better experience while installing the tool, let's use `sudo`, but let's use it only on the command that copies the binary to `/usr/local/bin` to avoid security-related issues.

[2018-10-18 17:06] davrodpin commented on #26
Hi @mukulrawat1986, you would need to understand how the [crypto/ssh](https://godoc.org/golang.org/x/crypto/ssh) library and [ssh](https://tools.ietf.org/html/rfc4254) works to implement this feature.
If you're not familiar with them, I would say this change will not be so straightforward and maybe you should consider another [issue](https://github.com/davrodpin/mole/issues), but that is totally u

[2018-10-18 17:11] mukulrawat1986 commented on #26
Thanks for letting me know. Any other issue you can suggest which I may try first? I would love to work with this so I can take my time and start from something small.

[2018-10-18 17:33] jcox250 commented on #25
Do you want to try and do this still using the stdlib flag package? Or would you be happy for a library like cobra to be used?

[2018-10-18 17:58] davrodpin commented on #25
Thanks for considering contributing to the project, @jcox250!

[Cobra](https://github.com/spf13/cobra) seems to be slick, I like that!

Moving to it will probably break the backwards compatibility, but will provide a robust and elegant way of handling the flags. We just need to make sure it's going to be very easy for the users to understand the commands and flags.

Please feel free to make the mo

[2018-10-18 18:14] jcox250 commented on #25
Sweet! I'll have a stab at it over the weekend

[2018-10-18 18:17] jessebarton commented on #24
@davrodpin I will go ahead and take a look at this and see how far along i can get. Thanks for the detailed explanation of what you would like to see happen with this change. Appreciate it very much! I'll keep you posted if i have questions and on progress that i make.

[2018-10-19 00:43] KFPJ4XL9JMNP commented on #12
Thank you

[2018-10-19 10:37] bigeast opened #30 "error generating ssh client config: ssh: cannot decode encrypted private keys"
## mole 0.2.0 and macOS 10.13.6

## Expected Behavior

Requests to localhost:3389 should be forward to remote:8888,

## Current Behavior

localhost:3389 can't be reached, and
`ERRO[0002] error generating ssh client config: ssh: cannot decode encrypted private keys  tunnel="[local:127.0.0.1:3389, server:my.Server.I.P:myServerPort, remote:127.0.0.1:8888]"`

## Steps to Reproduce

1. In remote server

[2018-10-19 22:11] #6 closed

[2018-10-19 22:42] davrodpin commented on #30
@bigeast, thank you for filing the issue!

Unfortunately, `mole` does not have support for encrypted private keys yet.

We would need to improve the tool to detect if the key is encrypted and prompt the user for the password (not flag for that matter, please). Some references:

* https://godoc.org/golang.org/x/crypto/ssh#ParseDSAPrivateKey
* https://godoc.org/golang.org/x/crypto/ssh#ParseRawPrivat

[2018-10-19 23:13] davrodpin opened #31 "No error message returned to the user when wrong flag is provided"
## Affected Version

mole compiled from a5252a4

### go-env

[code]

### Platform:

[code]

## Expected Behavior

The app should provide the reason for failing its execution when the user is providing the wrong flags or combination of flags

## Current Behavior

The app is showing the usage with no error message, as follows:

[code]

[2018-10-19 23:15] davrodpin commented on #26
Maybe #31.

[2018-10-20 11:02] jcox250 commented on #25
@davrodpin So I've had a go at this and think I've got something that should work. I've used [spf13/pflag](https://github.com/spf13/pflag) instead of cobra because it's API meant the code could pretty much stay the same and just use `pflag` in any place where the stdlib `flag` package was used.

One issue I've run into is short version of flag names aren't allowed to be longer than 1 character whi

[2018-10-20 11:19] jcox250 commented on #25
If it helps I opened a PR on my fork so you can have a look when deciding short names. Still need to add tests for the short names but I can do that after we get the short names sorted.
https://github.com/jcox250/mole/pull/1

[2018-10-20 19:37] #19 closed

[2018-10-20 20:02] davrodpin commented on #25
@jcox250, I saw value on using cobra because we would make all supported use cases to follow the `<command> <args>` patterns promoted by the library.
`pflag` seems to do almost the same thing as `flag`, with the addition of a few helpers, so why not stick the the standard `flag` package, so no dependencies are added to the project?

[2018-10-20 22:31] #31 closed

[2018-10-20 23:44] condemil commented on #25
You can also check out go-flags, I am using it in my projects https://github.com/jessevdk/go-flags

[2018-10-21 10:16] jcox250 commented on #25
@davrodpin So the one advantage that you get from `pflag` that you don't get from `flag` is the ability to have short flag names which you can't get with `flag`. I could change it to use cobra instead though if you want? I just settled of `pflag` because I thought it would require less maintenance/changes to the code base.

[2018-10-21 14:29] tidjungs commented on #10
Can i take this ?
Do i have to implement flag to stop daemon process ?

[2018-10-21 17:40] davrodpin commented on #25
@jcox250, please proceed with the implementation with `pflag`. We can think on redesigning the flags and how the user interacts with the tool later.

[2018-10-21 18:29] davrodpin commented on #10
Sure! Thanks for considering contributing to the project, @tidjungs.

Having a command (`-stop`?) to stop a detached mole instance seems to be a good idea.

Let's assume we will have a flag name `-detach` to indicate the app should run in background mode and another one, `-stop`, to stop the app that is already running in background mole.
The latter flag would required an application identifier to

[2018-10-22 06:17] tidjungs commented on #10
ok I got it, start from Alias and stop with Alias name is make sense
About no Alias case, maybe I implement like this
Show process id in terminal & How to stop
[code]
What you think about this ?

[2018-10-22 06:38] tidjungs commented on #10
Do I have to implement flag for log path like this
[code]
or just use "./" default

[2018-10-22 06:50] tidjungs commented on #10
what about
[code]
and Alias case
[code]
What do you think ?

And I have no idea how to manage structure of pid, log file
what you think about -log=/path/to/log and default is "./"
inside have
pid_alias_name
log_alias_name

[2018-10-22 16:38] davrodpin commented on #10
We're getting there... so, every detached mole instance will have an identifier associated with it and the identifier will be generated either from the alias name or random combination of characters.

Mole would store information about the detached instances under `$HOME/.mole/instances`.
Each detached instances would have its own directory under `$HOME/.mole/instances` named after its identifier

[2018-10-22 16:44] tidjungs commented on #10
ok I got it

[2018-10-22 17:23] mjbright opened #37 "Provide option to ignore known_hosts file"
## Affected Version
Latest commit (843dce7df3b3a7a0d88002c8b2f0f702ec5b9182)

## Expected Behavior
First try running on Windows 10 under cygwin I created an alias which I then try to use.
```mole -alias ldlc_minishift -remote 192.168.99.100:8443  -server mjb@192.168.0.40 -key $(cygpath -m ~/.ssh/id_rsa)```
```mole -start ldlc_minishift```

I expect connect to succeed.

## Current Behavior
mole fai

[2018-10-22 22:01] davrodpin opened #38 "New Feature: Multiple remotes, same connection"
App should allow to specify multiple `-remote`, so user could access multiple services through the same tunnel, reusing the same connection.

Example:

[code]

If multiple `-remote` are specified, then `-local` can't be used.

*let me know if anyone has another suggestion for how to specified the local port for each host without combining `-remote` and `-local` in one single flag).*

[2018-10-25 15:57] BenMcH commented on #12
@m3hari Are you still planning to complete this? If so, feel free to look at [my PR](https://github.com/davrodpin/mole/pull/14) for implementation ideas. It could serve as a template for adding this feature since it's doing very similar work.

[2018-10-25 19:36] davrodpin commented on #37
Hi @mjbright, I think we have two issues:

1. mole is not properly working on windows.
2. there should be an option to ignore the know_hosts files

Number 2 is being currently handled on #14.

[2018-10-25 19:36] davrodpin commented on #37
and thanks for providing feedback! 😄

[2018-10-26 12:06] m3hari commented on #12
@BenMcH Thank you I will look into it. Hopefully, I will make my PR soon.

[2018-10-27 11:56] akshaychhajed commented on #30
@bigeast Maybe I can add this feature

[2018-10-31 00:20] davrodpin opened #42 "Warning messages about ssh config file option when it is not required"
## Affected Version

master @ 2aeee32

## Expected Behavior

No warning message about options on ssh configuration file should be thrown to the user if they are not used.

## Current Behavior

The following message was observed even when no ssh configuration file was needed or existed:

`WARN[0000] error reading LocalForward configuration from ssh config file. This option will not be used: bad for

[2018-11-02 22:32] #42 closed

[2018-11-06 15:02] kiug opened #47 "Support Windows operating system"
It will be great if mole could run on Windows operating system, have anyone tried to build it for Windows?

[2018-11-06 16:01] mjbright commented on #47
Agreed.
I compiled it without problem a couple of weeks ago but then it had a problem reading my known_hosts file (typical windows pathname problem) reported as #37.
```open C:\tools\cygwin\home\windo\.ssh\known_hosts: The system cannot find the path specified```

When I have some time I'll try a workaround and retest to see if the known_hosts is the only blocker ...

[2018-11-06 22:04] davrodpin commented on #47
I've spent some time today to understand what need to be changed to allow `mole` to be both compiled and executed on Windows and here are my findings:

**Environment**

Operating System: `Windows 10`
Go Version: `go version go1.11.2 windows/amd64`

No linux emulation software was installed during this investigation.

**Changes Required**

1. Add `golang.org/x/sys/windows` to `vendor directory` to

[2018-11-07 01:16] mjbright commented on #47
Thanks a lot for sharing your analysis.

I'll have another look, testng with cygwin, as soon as I can ... in a week
or so.

On Tue, 6 Nov 2018 at 23:04, David Pinheiro <notifications@github.com>
wrote:

--

Cloud Native Training in English or French
-Kubernetes, Docker
-Serverless
-Micro-services
-Python, Git

[2018-11-20 17:19] nikaro opened #49 "Cannot use underscore in server name"
## Affected Version

[code]

## Expected Behavior

In my `~/.ssh/config` i have a server named `ucd_f23`. Mole seems to split the name and use only `ucd` as the server name. It should not.

## Current Behavior

[code]

## Steps to Reproduce

1. Have something like this in your `~/.ssh/config`:
[code]
2. Start mole: `mole -v -local :8000 -remote 192.168.12.49:5001 -server root@ucd_f23`

[2018-11-20 19:44] #49 closed

[2019-01-31 13:02] nikaro commented on #49
Hello, thank fo the fix. However could you make a bugfix release ?

[2019-02-26 23:38] #30 closed

[2019-03-03 22:35] davrodpin opened #60 "Clean up `docs/cov`"
Every time a successful check runs, a new coverage report is added under `docs/cov`.
To avoid old reports to be kept in the repository, the check should clean up reports older than a week.

Ideally, a single commit should remove the old reports and add the new one.

[2019-03-09 20:52] #60 closed

[2019-04-10 16:56] davrodpin commented on #11
PR #52

[2019-04-10 16:56] #11 closed

[2019-04-10 16:57] davrodpin commented on #10
PR #35

[2019-04-10 16:57] #10 closed

[2019-05-11 21:43] #47 closed

[2019-05-12 01:20] davrodpin commented on #49
0.3.0 was just released with this fix: https://github.com/davrodpin/mole/releases/tag/v0.3.0

[2019-05-12 01:20] davrodpin commented on #47
New version, 0.3.0, was just released and it includes support for windows!

https://github.com/davrodpin/mole/releases/tag/v0.3.0

[2019-05-14 17:22] davrodpin opened #68 "Migrate dependencies to the new module system"
https://blog.golang.org/using-go-modules

[2019-05-16 22:50] davrodpin commented on #68
PR #69

[2019-05-16 22:50] #68 closed

[2019-05-16 22:52] davrodpin commented on #37
Insecure mode, which ignores the `known_hosts` file was implemented on #52

[2019-05-16 23:24] davrodpin commented on #37
Support for windows implemented on #65.
It seems to be working through both `Command Line ` and `Cygwin`.

That's what I used to install mole on Cygwin:

[code]

[2019-05-16 23:25] #37 closed

[2019-05-16 23:25] davrodpin commented on #13
PR #18

[2019-05-16 23:25] #13 closed

[2019-06-09 11:58] ei8fdb opened #71 "Would you consider a UI?"
Hi @davrodpin thanks for Mole. I found it via [this webpage](https://computingforgeeks.com/easy-way-to-create-ssh-tunnels-on-linux-cli/).

I'm currently using it to access home services I don't want to expose to the Internet via web interface.

Would you consider a UI for Mole? I'm happy to help you with providing some design mockups. (Sorry my coding skills are abysmal)

It would be helpful to be

[2019-06-09 18:38] davrodpin commented on #71
Hi @ei8fdb,

Great to see people actually using the tool :)

UI for Mole was one of the first things that came to my mind when I was thinking about writing the tool.

We definitively want that. Even though I would like to see it as a native application, we don't have the luxury of having many people developing the UI for multiple platforms so I would do a web app that would use the file system `~/

[2019-06-09 18:41] sbarros77 commented on #71
@David Pinheiro <davrodpin@gmail.com>

Great work mr. David,  I think a UI would be a great idea, we can help
build it.

Regards

On Sun, Jun 9, 2019 at 11:38 AM David Pinheiro <notifications@github.com>
wrote:

--
*Sandro Barros*

[2019-06-09 20:35] ei8fdb commented on #71
@davrodpin Thanks for the positive reaction. :100:

I understand what you mean about multiple platforms, and I guess also different desktop environments/window managers.

Do you have any idea on the distros people are using it on at the moment?

[I'd be happy to do a little research to try and find some figures. That would give some idea as to where people are *currently* using it.]

I'm using GNO

[2019-06-09 20:36] ei8fdb commented on #71
@sbarros77 Great to hear. :+1:

[2019-06-09 21:53] davrodpin commented on #71
@ei8fdb, I was actually referring to different operating systems: linux, osx and windows.

There are some technologies out there that would allow us to have the same native application to run on multiple OSes, but it would increase the installation complexity and the result wouldn't not be comparable to the native technologies each of of those platforms offer.

That is why I think the best approac

[2019-06-24 04:50] davrodpin commented on #38
#72

[2019-06-24 04:50] #38 closed

[2019-06-24 20:10] ei8fdb commented on #71
Ah OK. Didn't think of that. I know (at the moment) there is one popular ssh tunnel application for OS X - SecurePipes, but it's not FOSS.

For Windows, I'm not sure.

This would be the ideal, but right, that'd require more ✋ ✋ ✋ . :)

I've been thinking about this and I'm struggling to visual how a user would "get started".

How realistic is something like this:
- the user downloads Mole
- they "

[2019-06-24 22:27] ei8fdb opened #74 "UI design: first go"
I spent a few hours this evening working through the main functionality for a Local-to-Remote tunnel (as I understand it from reading [documentation](https://davrodpin.github.io/mole/#create-multiple-tunnels-using-a-single-ssh-connection) and the [flag shortcuts ticket](https://github.com/davrodpin/mole/issues/25)).

You'll see the UI looks very empty (in terms of OS/web-browser chrome, etc) apart

[2019-06-25 20:08] ei8fdb commented on #24
(Probably a silly question, so....)

This behaviour (auto reconnect if connection to SSH server drops) is something that should be default? Thinking about all my SSH tunnels if any drop, I want them to reconnect.

Hence - there probably isn't a need for this to be configurable in a UI? The most I'd expect is a configurable:

- [ ] auto reconnect if connection drops

option?

[2019-06-25 22:51] davrodpin opened #75 "Mole fails its execution if ssh configuration file is not present"
## Affected Version

0.4.0

## Current Behavior

`Mole` is failing with valid arguments given

[code]

None of the arguments given depend on the ssh config file, so there is no need for the file to be required.

## Steps to Reproduce

1. Install version 0.4.0
2. Execute the following command:

[code]

[2019-06-26 16:50] davrodpin commented on #71
Yes, that's the idea. Users would install `mole` and it would be a specific command (e.g. `mole -ui`) to start the web application that would serve the pages to manage and monitor the current tunnels.

The UI's duties would be managing aliases, which are currently stored in the file system (i.e. `$HOME/.mole.conf`), spawning new `mole` processes, keep track of the running ones and monitoring their

[2019-06-26 16:56] davrodpin commented on #24
Hi @ei8fdb,

Yes, both `Server Reconnect` and `Keep Alive` should be enabled by default.
We want  optional arguments for the amount of time `mole` will wait before trying to connect again and how many attempts `mole` should make once the server disconnects before giving up.

[2019-06-26 17:26] davrodpin commented on #74
Hi @ei8fdb,

First of all, thank you a lot for putting this together. That's just great.

Few comments I have about the mocks:

  * An `alias` should be composed by both server and tunnel information, so the user can just start the tunnel next time with no need to configure anything.
  * I like the idea of configuring the server and selecting one as part of the tunnel configuration
  * Key file pa

[2019-06-26 19:47] ei8fdb commented on #74
1. > - ...so the user can just start the tunnel next time with no need to configure anything

When you say "with no need to configure anything" do you mean like in the following instance from the documentation -

`mole -v -local 127.0.0.1:8080 -remote 172.17.0.100:80 -server user@example.com:22 -key ~/.ssh/id_rsa`

- If yes, then this tunnel has no alias, right?
- When would a user want to create

[2019-06-26 19:59] ei8fdb commented on #71
Great. 👍

[2019-06-26 20:14] ei8fdb commented on #74
FYI, here's my [design todo list](https://github.com/ei8fdb/mole-design#design-to-do-list).

[2019-07-01 05:23] #26 closed

[2019-07-04 13:05] awnumar opened #79 "Goroutine leak in tests"
Version: `master`

## Steps to Reproduce

1. Checkout master.
2. Run `$ go test -race -count=100 ./...`
3. Observe goroutine leak

![screen](https://user-images.githubusercontent.com/8942495/60668776-a8f41f00-9e64-11e9-861e-d43a22e6587c.png)

... scrolls up for a loong time. Interestingly removing the `go` qualifier from https://github.com/davrodpin/mole/blob/master/tunnel/tunnel.go#L254-L255 just

[2019-07-04 18:49] awnumar commented on #79
What is the purpose of these two lines? The connection objects are being simultaneously written to each other. How is this safe?

https://github.com/davrodpin/mole/blob/a7edeac72db3e2adfb4731e6adc3fe40c6e9f3b3/tunnel/tunnel.go#L254-L255

[2019-07-05 02:46] davrodpin commented on #79
@awnumar, what is the Go version you're using?

 I ran the test with `-race-` and `-count 100` and got no errors:

[code]

[2019-07-05 02:56] davrodpin commented on #79
The purpose is to create a bidirectional channel between the client and the remote endpoint by  keep sending the data from the client to the ssh server to the remote endpoint and vice-versa.

Since `io.Copy` will only stop copying  if either the source or the destination EOF, I  can keep two goroutines, one for each direction.

[code]

I don't see why it wouldn't be safe but please let me know you

[2019-07-05 09:33] awnumar commented on #79
`:: go version go1.12.6 linux/amd64`

Could you run `$ ulimit -l` on your system and see what you get?

Ah, I understand. My local tests are still playing up but I'm still investigating so I'll let you know.

[2019-07-05 15:41] davrodpin commented on #79
Same result with `go 1.12.6` and `ulimit -l`.

I will try on a linux machine later today.

[code]

[2019-07-07 19:35] davrodpin commented on #79
@awnumar, I couldn't reproduce the issue above on linux (see below).

But I find issues with two tests, `TestHandlePassword` and `TestUpdatePassphrase`, from `tunnel/key_test.go` when the `-count=100` flag is passed (see bellow)

**All tests but TestHandlePassword and TestUpdatePassphrase**

[code]

**TestHandlePassword (similar result from TestUpdatePassphrase execution)**
[code]

[2019-07-08 08:50] awnumar commented on #79
@davrodpin I also caught this issue. I'm in the process of designing a patch for it.

LockedBuffer objects lock pages into memory, preventing the kernel from swapping them out to disk. On some systems there is a per-process limit. On yours it seems to be 64 kilobytes.

My idea is to load the pem key from file and decrypt it with the passphrase into the decrypted form immediately, and store the raw

[2019-07-08 14:32] awnumar commented on #79
Are these PemKey objects used only to generate ssh.Signers?

[2019-07-11 11:30] awnumar opened #82 "Inconsistencies in duplicated auxilliary functions"
https://github.com/davrodpin/mole/blob/f78f0cc222bb9310888dfac30c297950f6daaf25/tunnel/tunnel.go#L367-L413

These four functions seem to have the _intention_ of having identical functionality.

1. If given value is non-empty, return it.
2. Else return resolved value.

However `reconcileHostname` diverges from this pattern by prioritizing `resolvedHostname` instead of `givenHostname` like the other

[2019-07-15 05:04] davrodpin commented on #82
@awnumar, `reconcileHostname` has to give precedence to the resolved value because of names configured on the ssh config file.

Other parameters like port, user and key work as opposite: the precedence should be the given value and if that is not provided, then the application should use the resolved one.

I agree the code could be redesigned a bit to have a single function instead of five.
The on

[2019-07-15 05:26] davrodpin commented on #79
Not sure how effective would be to keep the key safe since it will be copied to the signer object and we won't be able to protect that part of the memory.
To keep all secure, we might need to keep the passphrase in a way it could be reused (I am currently working on a feature that will allow tunnel reconnection) then resolve and load the pemkey and create the signer object in one shot.
Then we cou

[2019-07-16 15:17] awnumar commented on #79
@davrodpin Yeah thought that might be the case. I'm looking into trying to initialise the Signer object inside a guarded memory region but for now all I've done is store the decrypted key in an Enclave object.

It's not yet finished and is broken with a segmentation fault somewhere.

Tree: https://github.com/awnumar/mole/tree/enclave
Commit: https://github.com/awnumar/mole/commit/aac96dc6a3f476c22

[2019-07-20 16:41] #82 closed

[2019-07-26 17:46] davrodpin opened #86 "-remote flag not validating the presence of the address port"
## Affected Version

099b47a

## Expected Behavior

Validate the input given through `-remote` flag and fail the application if the address port is not given.

## Current Behavior

Accepting value on `-remote` without port and failing when the client tried to connect to the remote endpoint.

## Steps to Reproduce

1. Build master @ 099b47a
2. Start test-env

[code]

3. Start mole with a remote set

[2019-09-04 10:26] saltmaster-at opened #87 "under osx not using ssh-agent"
## Affected Version
mole 0.4.0 installed through brew
MacOS Mojave 10.14.6 (18G95)

## Expected Behavior
mole should use the existing key-agent socket SSH_AUTH_SOCK=/private/tmp/com.apple.launchd.xXxxxX/Listeners

## Current Behavior
asks for key-password

## Steps to Reproduce

1. configure a tunnel
2. start ssh-agent and make sure to set ENV
3. start mole
4. -> key-password is asked

[2019-09-04 16:22] davrodpin commented on #87
Could you provide the mole's output with the `-v` flag set?

[2019-09-11 00:35] prologic opened #88 "panic: non-positive interval for NewTicker"
When I run `mole -start <alias>` it panics with:

[code]

Unclear what version I'm running:

[code]

I originally installed with `go get -u ...`

[2019-09-11 00:37] prologic commented on #88
Checking out the code and updating to master and rebuilding/reinstalling from source results int he same error; so I suspect this is a bug currently in master.

[2019-09-11 00:41] prologic commented on #88
Logging the value of `app.KeepAliveInterval` shows:

[code]

For some reason this is either getting set to `0s` or is the zero value of `time.Duration`

[2019-09-11 01:08] prologic commented on #88
I'm sort of at a loss here :/

[code]

Inspecting the code and debugging it a little bit shows that we are missing `t.KeepAliveInterval` from `app.KeepAliveInterface` which _should_ be set from the `f.DurationVar(&c.KeepAliveInterval` on L62 of cli/cli.go

[2019-09-11 01:27] davrodpin commented on #88
Hi @prologic,

Thanks for reporting the bug.

Do you mind sharing the alias configuration options associated with your
alias named “nightly” that is stored in “$HOME/.mole.conf”?

On Tue, Sep 10, 2019 at 6:08 PM James Mills <notifications@github.com>
wrote:

[2019-09-11 02:32] prologic commented on #88
Sure. Nothing too special here:

[code]

It was created with `mole -alias ...` obviously. I've not touched it.

[2019-09-11 03:44] davrodpin opened #89 "insecure mode not persisted when creating alias"
## Affected Version

master @ 099b47a

## Current Behavior

I can't skip host key validation with `-insecure` using an alias created with the right flag.

## Expected Behavior

The insecure mode should be respected when creating an alias passing `-insecure`

## Steps to Reproduce

[code]

[2019-09-11 03:54] davrodpin commented on #88
@prologic,  I am able to reproduce the issue.

mole [0.4.0](https://github.com/davrodpin/mole/tree/v0.4.0) is free from this bug.

[2019-09-11 03:59] #89 closed

[2019-09-11 04:01] prologic commented on #88
Oh so I should downgrade in the meantime until master is fixed?

[2019-09-11 04:02] davrodpin commented on #88
Yes, please :)

[2019-09-11 04:54] #88 closed

[2019-10-01 18:40] #12 closed

[2019-10-01 18:58] #86 closed

[2019-10-03 03:58] #24 closed

[2019-10-03 04:45] #75 closed

[2019-10-03 10:38] ricardoseriani commented on #25
Since the PR of this is not already merged, can I try do add this and open a new PR ?

I'm thinking about using the `github.com/spf13/pflag` package.
If so, what will be the sort flag of the `-start` ? Because, as noted,  short version of flag names aren't allowed to be longer than 1 character.

[2019-10-03 17:29] davrodpin commented on #25
That would be great, @ricardoseriani, thank you! Please take a look on #36 to understand previous design decisions.

I see no problem with that.
Just as a mental note, I want to move the entire application to use something like [cobra](https://github.com/spf13/cobra) at some time in the future to have a better modularization of each workflow inside mole.

I've updated the issue description with a

[2019-10-03 17:30] davrodpin commented on #74
Linked to #71

[2019-10-03 17:31] davrodpin commented on #71
Continue on #74

[2019-10-03 17:31] #71 closed

[2019-10-03 20:13] ricardoseriani commented on #25
For the usage, should I show both versions of flags ?

I'm thing about show the first lines using both flags (using | as separator) and the other lines show only the long flag, like this:

[code]

Or you think that I should add an example of using the short flags in another line (to avoid confusing new people) ?

[2019-10-03 21:13] davrodpin commented on #25
Let's keep the long names in the examples only. One will use the short names probably when they get used to the tool so we can consider it an "advanced" feature.

[2019-10-04 12:23] saltmaster-at commented on #87
ssh-add -l
4096 SHA256:xxxxx /Users/martinmenhart/.ssh/id_rsa (RSA)
3072 SHA256:xxxxx /Users/martinmenhart/.ssh/id_dsa (DSA)

martinmenhart at MartinMsMBP-2 in ~
$ cat ~/.mole.conf
[tunnels]
  [tunnels.rbproxy01]
    local = [":8991"]
    remote = [":8998"]
    server = "redhybcprxp01"
    key = ""
    verbose = true
    help = false
    version = false
    detach = false

martinmenhart at MartinM

[2019-10-04 17:08] davrodpin commented on #87
Thank, @saltmaster-at .

Mole does not include support for ssh-agent yet.

We could leverage the [ssh-agent client](https://godoc.org/golang.org/x/crypto/ssh/agent) from x/crypto/ssh to implement this feature.

[2019-10-04 19:16] Spitemare commented on #87
I'd like to take shot at this. I've got some preliminary changes that work, but need some cleanup.

Right now I'm just using whatever socket SSH_AUTH_SOCK points at. I don't really think this needs to be configurable as that is the environment variable set when starting ssh-agent traditionally (`eval $(ssh-agent)`).

[2019-10-06 22:34] #25 closed

[2019-10-06 22:51] davrodpin opened #103 "Update documentation with new way of passing cli arguments"
The way to provide longhand cli arguments to mole has changed to use double dashes, `--`, since 49efce0 and the examples used in documentation files need to be updated.

  * [/test-env/README.md](../blob/master/test-env/README.md)

[2019-10-07 04:25] hashd opened #104 "Support for Alias Configuration file"
Would be nice if aliases can be loaded off a configuration like `~/.mole/aliases.config` or something.

- It'll be easier to share config across colleagues
- It'll be easier to bulk edit aliases at the same time if there are any changes that apply to all or most of them

Definitely can live with the current way of doing things, thought this could be more convenient. If such a thing already exists,

[2019-10-07 04:33] davrodpin commented on #104
Good news for you, @hashd, all aliases are stored on `$HOME/.mole.conf`

[2019-10-07 04:47] hashd commented on #104
perfect, you can close this issue

would be nice to document that in the README so that people are aware of the fact and can take advantage accordingly

[2019-10-07 04:47] #104 closed

[2019-10-07 04:51] hashd commented on #104
nevertheless, this project makes my life so much simpler, thanks for building and maintaining it

[2019-10-07 17:21] #103 closed

[2019-10-07 17:32] davrodpin opened #106 "Design documentation for alias"
Add a new section to (README.md)[../blob/master/README.md) explaining what is the motivation behind having an alias and showing where they are stored and the format used, (TOML][https://github.com/toml-lang/toml]

Linked to: #104

[2019-10-23 13:21] #87 closed

[2019-11-04 18:18] oal opened #108 "Mole fails in Ubuntu on Windows / WSL"
## Affected Version
0.5.0, also tested 0.4

## Expected Behavior
Tunnel should be set up.

## Current Behavior
When launching `mole`, it crashes and outputs:
```ERRO[0000] error generating ssh client config: extra data in encoded key  tunnel="[channels:[[local=127.0.0.1:8080, remote=127.0.0.1:8080]], server:IP:22]"```

## Steps to Reproduce
1. Open a WSL (Windows Subsystem for Linux) terminal
2. R

[2019-11-05 21:48] davrodpin commented on #108
Hi @oal,

I just tested on windows10 + wsl2 using ubuntu and mole seem to be working fine.
The error message that you paste above, `extra data in coded key`, is indicating that the key used to connect to the ssh server is invalid.

https://github.com/davrodpin/mole/blob/61590247f8a5222fa6fe10d526ebe8725c98cb38/tunnel/key.go#L127

[code]

Are you able to ssh to the ssh server using that key without

[2019-11-06 16:43] oal commented on #108
Hi!

Thanks for testing. Normal SSH sessions are working. `ssh myserver` lets me in immediately.

I think I may be on WSL1 (Windows 10 ver 10.0.18362.418).

[2019-11-06 17:41] oal commented on #108
I tried generating a new ssh key, and it mole works now. I've used this old key for a long time, and it's always worked for normal ssh sessions. Not sure what's wrong with it, but not an issue with mole then. (y)

[2019-11-06 17:47] davrodpin commented on #108
Hi @oal, any information you could share about how this key was generated? I would like to take this opportunity to improve mole.

[2019-11-06 18:05] oal commented on #108
Sure! I think it was generated in MacOS in 2014, and I've carried it with me since then. No passphrase.

[2019-11-06 18:17] #108 closed

[2020-05-19 21:01] 0187773933 opened #111 "SSH Private Key as a String"
How could you use this without the CLI functionality.

Like hardcode the variables for username , host, remote and local ports, private key as a byte array.

And then build it with these hard coded variables.

[2020-05-19 21:28] davrodpin commented on #111
Not sure if I understand what you asking for. Do you want to pass the key itself through a CLI argument? Or do you want to use pre-established environment variables to set some of the CLI arguments?

[2020-05-19 22:10] 0187773933 commented on #111
I am trying to remove the cli portion, and build custom binaries with everything already hard coded in.

So that the binary itself already contains the ssh keys, tunnel info, host, etc.

Then you can build custom binaries for specific setups, and run them in places.

[2020-05-19 23:26] davrodpin commented on #111
I don't think that is a secure approach since sensitive information will be easily if someone decides inspect your binary.

I also don't think a lot of people will actually change and compile the code to use it.

If you want avoid dealing with CLI arguments, I suggest you to use the `alias` feature.

[2020-07-24 22:44] davrodpin commented on #74
Closing due to inactivity.

[2020-07-24 22:44] davrodpin commented on #74
Closing due to inactivity.

[2020-07-24 22:44] #74 closed

[2020-07-24 22:45] davrodpin commented on #111
Closing due to inactivity.

[2020-07-24 22:45] #111 closed

[2020-08-09 16:52] davrodpin opened #113 "New feature: completion command"
New command to install auto completion for `bash` and `zsh` very similar to what `kubectl` [does](https://github.com/kubernetes/kubectl/blob/master/pkg/cmd/completion/completion.go)

[2020-08-09 21:43] davrodpin opened #118 "Add support for Dynamic Port Forwarding"
https://help.ubuntu.com/community/SSH/OpenSSH/PortForwarding

[2020-08-09 21:44] davrodpin commented on #22
Closing this one. Remote Port Forwarding was implemented o b4239d and I've created a new issue for Dynamic Port Forwarding, #118

[2020-08-09 21:44] #22 closed

[2020-08-10 01:04] davrodpin opened #119 "Override flags while using alias doesn't work anymore"
## Affected Version

92f82af

## Expected Behavior

Flags given through CLI while using the `start alias <alias_name>` must override the values stored in the alias.

## Current Behavior

The `start alias <alias_name>` does not support any flag to be given through CLI.

## Steps to Reproduce

[code]

[2020-08-13 15:53] #119 closed

[2020-08-13 18:14] davrodpin opened #121 "New Feature: `update alias` command"
The `update alias` command would update the given flags of a pre-existing alias configuration

* Alias configuration before command execution

[code]

* Command execution

[code]

* Alias configuration file after command execution

[code]

[2020-08-14 00:19] davrodpin opened #123 "New Feature: Command to output logs of any session"
Implement a new command, `mole show logs` that will output the log of any mole session, including the ones running on  foreground.
The `--tail` option will make it to tail the end of the output.

[code]

[code]

[2020-09-01 22:30] davrodpin opened #127 "Verbose, Insecure and Detach flags are not working when loading from an alias"
## Affected Version

v1.0.0

## Expected Behavior

Respect the values of the `verbose`, `insecure` and `detach` flags when

## Current Behavior

`Verbose`, `insecure` and `detach` flags are set to true in the alias but not active when using `start alias`

## Steps to Reproduce
1. Start the test environment

[code]

2. Create an alias passing `--verbose`, `--insecure`, `--detach`

[code]
3. Check t

[2020-09-01 22:41] #127 closed

[2020-09-03 20:49] davrodpin opened #130 "New Command: show instances"
Add a new command to output all **running** detached application instances and their configuration.
If no instance id is provided, the command outputs all active instances.

[code]

[2020-09-12 05:17] meotimdihia opened #131 "Error generating ssh client config: error while parsing 'known_hosts'"
## Affected Version
1.0.1

## Expected Behavior
tunnel port

## Current Behavior
time="2020-09-12T12:10:35+07:00" level=error msg="error generating ssh client config: error while parsing 'known_hosts' file: C:\\Users\\meoti\\.ssh\\known_hosts: knownhosts: C:\\Users\\meoti\\.ssh\\known_hosts:21: illegal base64 data at input byte 140" tunnel="[channels:[[source=127.0.0.1:5432, destination=127.0.0.1:

[2020-09-12 22:57] davrodpin commented on #131
Hi @meotimdihia,

Is the `ssh` program able to parse the file? Any change your `known_hosts` files was generated or edited by a windows program?

I did some basic tests in a `win10`, using `git bash` and mole is working fine.

[2020-09-13 04:58] meotimdihia commented on #131
I still ssh to my server with this file for years. It seems Mole has more problems with known_host files. I tried to delete lines in known_hosts and get a new bug: ```known_hosts:30: knownhosts: missing host pattern" ```

[2020-09-13 05:16] meotimdihia commented on #131
And I have a question, can Mole replace autossh? I can't install autossh on windows. I always use this command to tunnel my server and connecting to my Postgres database: ```ssh -nNT -L5432:localhost:5432 myserver```

[2020-09-13 23:21] davrodpin commented on #131
It will be hard trying to fix this issue without having the specific line that is creating the trouble. Would you mind posting it here?

That is probable happening because `mole` is not capable of generating a entry in your `knownhosts` file when you connect to the ssh server.

[2020-09-13 23:24] davrodpin commented on #131
`Mole` has an auto connection restart mechanism through the `--connection-retries` flag.
It also sends synthetic packets to the server that acts as a keep-alive mechanism, through the `--keep-alive-interval` flag.

[2020-09-13 23:49] #123 closed

[2020-09-14 15:14] meotimdihia commented on #131
Sorry, I deleted those lines with no backup 😃.
I read the documentation and can't figure how to replace the command ```ssh -nNT -L5432:localhost:5432 myserver``` with mole.

[2020-09-14 21:33] davrodpin commented on #131
That's all right. I am closing the issue since this is not reproducable. Feel free to re-open it if you see a need.

[code]

Since `myserver` is not a domain or ip address, it will look for its entry on your ssh config file.

[2020-09-14 21:33] #131 closed

[2020-09-22 05:28] vikas027 opened #133 "OSX - Unable to install through brew"
## Affected Version
N.A.

## Expected Behavior
`mole` should have been installed

## Current Behavior
Unable to install mole through homebrew

[code]

## Environment
- OSX: 10.15.6
- brew
[code]
- Go
[code]

[2020-09-22 08:45] vikas027 opened #134 "Feature Request - Optionally specify SSH config file"
It would be great if there is a way to specify the SSH config file i.e. a file other than `~/.ssh/config`. My use case is that I deploy a lot of SSH servers where the bastion's IP either keep on changing (due to security) or when working on temporary environments.

[2020-09-22 08:47] vikas027 opened #135 "Feature Request - Allow connection without StrictHostKeyChecking and UserKnownHostsFile"
It would be great if there is a way to disable `StrictHostKeyChecking` in the SSH config file like below.

[code]

My use case is that I deploy a lot of SSH servers where the bastion's IP either keep on changing (due to security) or when working on temporary environments.

[2020-10-11 18:37] jminck opened #137 "(mac) --detach doesn't detach"
mole version 1.0.1
mac 10.15.7
using mole start alias --detach doesn't detach the process

(nice utility by the way!)

![image](https://user-images.githubusercontent.com/13041012/95687016-a7b4b480-0bc6-11eb-8088-873c91953023.png)

[2020-10-16 15:10] abettke opened #138 "Question on Usage: Define source as a non-existent hostname/domain name"
So this question is more about usage and may be a small misunderstanding of how this tool should be used. My current use case is to have this tool forward requests to a known host on a separate network from the current network, _as if that domain name had existed on the current network._ A quick example to demonstrate:

[code]

In this example, `domain-name:9999` DOES exist and resolve when reques

[2020-10-16 16:58] abettke commented on #138
For now, how I'm getting this to work is adding entries to `/etc/hosts` for each domain I want to refer to and binding them to a separate loop back address.

[code]

[2020-10-16 16:58] #138 closed

[2020-10-21 06:12] shanyuen opened #139 "logon using privatekey denied. error ssh: handshake failed: knownhosts: key is unknown"
Iam using windows version of Mole v1.0.1 and failed to logon using my privatekey with --key parameter.
error="ssh: handshake failed: knownhosts: key is unknown"

There isn't problem with my private key because i can logon with that key using putty or another ssh software.
My private key is ssh-rsa 2048

Thanks.

[2020-10-21 18:46] shanyuen commented on #139
It's solved after changing Windows's known_host file, like this  [serverip]:port publickey.

[2020-10-21 18:46] #139 closed

[2020-10-21 18:48] shanyuen opened #140 "error runtime: bad pointer in frame github.com/konsorten/go-windows-terminal-sequences"
Got error
runtime: bad pointer in frame github.com/konsorten/go-windows-terminal-sequences.EnableVirtualTerminalProcessing at 0xc0000674e8: 0x50
fatal error: invalid pointer found on stack

[2020-10-21 18:56] shanyuen commented on #140
There's bug on module github.com/konsorten/go-windows-terminal-sequences v1.0.2
Fixed by changing go.mod to
github.com/konsorten/go-windows-terminal-sequences v1.0.3

[2020-10-21 18:56] #140 closed

[2020-10-21 19:15] shanyuen commented on #135
I agree with this.
For additional feature, it will confirming us to add it in our knownhosts file, just like any ssh clients did.

[2020-10-21 23:59] davrodpin commented on #137
Hi @jminck, I think you're facing #127, which is a bug when passing certain flags on `start alias`.

Thanks!

[2020-10-27 00:02] #134 closed

[2020-10-27 21:39] davrodpin commented on #133
Fixed on https://github.com/davrodpin/homebrew-mole/pull/6.

Thank you for reporting this but, @vikas027!

[2020-10-27 21:39] #133 closed

[2020-10-27 21:50] vikas027 commented on #133
Thanks, @davrodpin . I have just tested this out.

[2020-10-27 23:38] davrodpin opened #141 "Fix `add alias` help"
The `mole add alias --help` command shows the usage with `local` tunnel type only.
It rather should `[tunnel_type]` since the user can create an alias for both local and remote port forwarding.

Once that is done, the long description should have a reference about the possible option to use as `tunnel type` (i.e. local and remote) and a brief description what they are.

[2020-11-20 11:35] solus-hq commented on #118
Hello @davrodpin

Is this feature being developed?

[2020-11-20 16:57] davrodpin commented on #118
Hi @solus-hq,

I am not aware of anyone working on this feature for mole.

[2021-01-30 17:58] pichwo opened #149 "request for ENHANCEMENT: [github] xanzy/ssh-agent and/or passphrases for private keys ..."
hi !

introductionar words :
1) wonderful work - especially looking forward the rpc ( btw. what are the intentions behind ? ;-) )
2) personally i use linux, but i try to use mole for rdp/ssh on windows for my users - much fuzz there - tried all what is available in the internet - and not satisfied so far ... not even one ONESTOP console program to achieve things ... ;-)
that said -

for mass deplo

[2021-02-16 12:11] pichwo commented on #149
bumpup. any chance ?

[2021-02-16 17:27] davrodpin commented on #149
Hi @pichwo,

Sorry for taking this long to get back to you.

Thank you for the kinds words :)

I want to have a RPC server on Mole to enable a scenario where other programs can control Mole instances. That would allow, for example, to build a UI to manage current and new instances using a programmable interface.

So, today Mole handles passphrases on private keys by asking the user for an input (s

[2021-04-08 09:12] Tarik02 opened #150 "Feature request: unix socket forwarding"
## Affected Version
v1.0.1

## Expected Behavior
It should be able to forward unix sockets like ssh does.
For example, configuration would look like this:
[code]

## Current Behavior
[code]

[2021-06-10 12:35] mdcclxv opened #153 "Key mismatch"
Hi there,

I'm trying to open a SSH tunnel on a production server using the foloowing command line:

`mole start local --verbose --source 10.1.1.12:3306 --destination REMOTE_MYSQL_IP:3306 --server user@REMOTE_LINUX_BOX_IP:22 --key <path_to\private_key>`

and I get the following error:

`ssh: handshake failed: knownhosts: key mismatch`

I have PuTTY and PhpStorm connecting successfully to it, with

[2021-06-10 17:45] davrodpin commented on #153
Hi @mdcclxv,

The `key mismatch` error happens when the ssh client does not find the right entry on `$HOME/.ssh/knownhosts`.

Can you check if your `knownhosts` file have multiple entries for `REMOTE_MYSQL_IP`?

[2021-06-10 19:58] davrodpin commented on #153
My bad, I meant multiple entries for `REMOTE_LINUX_BOX`.

[2021-06-10 20:00] mdcclxv commented on #153
You replied while I was editing the previous answer :)
 No duplicates for the REMOTE_LINUX_BOX_IP. If that was the case then PuTTY and PhpStorm should be failing too.

[2021-06-10 20:03] davrodpin commented on #153
But did you find an entry for it?

Can you try with `--insecure`, which makes mole to ignore the host key validation?

[2021-06-10 20:16] mdcclxv commented on #153
Nevermind, my local copy of MySQL 5.7 was listening on 0.0.0.0:3306 although I configured it to only listen on 10.1.1.11. It seems that I hit a bug in MySQL. It's working with --insecure.

So, what's the next step? That --insecure option is making me uneasy, what's the risk?

[2021-08-15 19:56] davrodpin commented on #153
Hi @mdcclxv, are you still facing the same issue? We might have a problem with the [library](golang.org/x/crypto/ssh/knownhosts) used to parse the `known_hosts` files not being able to understand old records. Would that be your case, having an old `known_hosts` entry?

I can update to the latest version but I have no way to validate it.

[2021-08-15 19:57] davrodpin commented on #149
@pichwo, anything to add? Otherwise I will close this issue.

[2021-08-15 19:58] davrodpin commented on #137
@jminck , any chance you can try with `master` and let me know if that is working for you?

[2021-08-16 15:52] davrodpin opened #156 "Missing `config` attribute on `<alias>.toml` file causing application to fail"
## Affected Version
Master @ b6c4dc0

## Expected Behavior
Application to use the default value `$HOME/.ssh/config`

## Current Behavior
Application crashes with the following error stack:

[code]

## Steps to Reproduce
1. Create the following alias

[code]

2. Start mole with alias

[code]

[2021-08-26 09:05] kxalex opened #160 "New feature: SOCKS support"
It would be amazing to have SOCKS support the same as `ssh -D port user@server`.

[2021-09-01 16:35] davrodpin commented on #156
#159 should fix this.

[2021-09-10 19:47] ivanpavlina opened #164 "ProxyCommand parameter in config not used, cannot use ssh proxy jump host"
## Affected Version
1.0.1

## Expected Behavior
SSH connection should be established though defined ssh proxy jump host

## Current Behavior
Mole tries to connect directly to host without proxy and fails

## Steps to Reproduce
~/.ssh/config entry:

[code]

[code]

Mole is trying to directly connect to 10.0.0.4 for which I don't have direct access, I have to use proxy jump host on 10.0.0.1
Is this

[2021-09-10 20:37] davrodpin commented on #164
Hi @ivanpavlina, that tis expected since `mole` does not understand `ProxyCommand`.

It is definitively a nice feature for mole and I can add it to the roadmap.

And thanks you for contributing for the project!

[2021-09-17 21:20] davrodpin opened #170 "Can't get running configuration of detached instance"
## Affected Version

master @ 045aee0

## Expected Behavior

Mole to show the runtime configuration of the instance.

## Current Behavior

Mole returns an error message saying it cant' find the rpc address for the given mole instance id.

## Steps to Reproduce
1. Start test-env

[code]

2. Start a detached instance

[code]

2. Try to retrieve the running configuration of the instance

[code]

It s

[2021-09-17 21:22] davrodpin commented on #130
PR #161

[2021-09-17 21:22] #130 closed

[2021-09-17 22:41] davrodpin commented on #156
#159 made mole to work under the described scenario but with a different behavior. Now the missing `config` attribute causes mole to use an empty configuration.

I think this issue needs to be kept open since the expected behavior is to try to use `$HOME/.ssh/ssh_config` before falls back to an empty configuration.

[2021-09-28 22:22] davrodpin commented on #170
Fixed on #172

[2021-09-28 22:22] #170 closed

[2021-10-01 12:47] thienphuoc86 opened #173 "[Feature Request] Support aarch64 architecture for Raspberry Pi"
## Affected Version

## Expected Behavior

## Current Behavior

## Steps to Reproduce

1.
2.
3.
4.

[2021-10-01 15:15] thienphuoc86 opened #174 "[Feature Request] Support Remote Forwarding"
## Affected Version

## Expected Behavior

## Current Behavior

## Steps to Reproduce

1.
2.
3.
4.

[2021-10-02 01:52] #174 closed

[2021-10-02 01:53] thienphuoc86 commented on #174
already support Remote Port Forwarding !

[2021-10-02 02:15] thienphuoc86 opened #175 "[Feature Request] alias for remote port forwarding"
## Affected Version
1.0.1

## Expected Behavior
add aliases for remote port forwarding

## Current Behavior
can't add aliases for remote port forwarding

with version 1.0.1 only add alias local as below
Usage:
  mole add alias local [name] [flags]

[2021-10-02 20:50] davrodpin commented on #175
Being fixed on #176

[2021-10-02 20:53] #175 closed

[2021-10-02 20:56] davrodpin commented on #173
@thienphuoc86 , `arm64` is the system architecture you're looking for.

[2021-10-02 20:56] #173 closed

[2021-10-06 07:07] davrodpin opened #180 "Find another way to find is key is encrypted"
[tunnel/key.go](https://github.com/davrodpin/mole/blob/ff55983cf99bfc81d98621f59217e835af780c63/tunnel/key.go#L52) uses the `x509.IsEncryptedPEMBlock` to check if the key is encrypted so it can ask for a password but the API was [deprecated due to security reasons](https://github.com/golang/go/issues/41949).

[2021-10-26 05:13] manuel220x opened #182 "--detach not working"
## Affected Version
master, I also tried 2.0 but I didn't look at the logs then, so I am not sure if the same error was showing there.

## Expected Behavior
starting a remote alias with --detach flag should make the tunnel available

## Current Behavior

after starting using the alias, I get the proper messages on the output, but the tunnel is not actually running, looking at the logs, I can see t

[2021-11-02 13:01] ianrgraham commented on #182
This functionality is broken for me as well.

[2021-12-01 08:16] zieglar commented on #182
same for me, detach not working, version 2.0.0

[2021-12-01 17:19] davrodpin commented on #182
@manuel220x, thank you for reporting it.

I want to apologize for the time it is taking for fixing this bug but I’ve been busy with work and family and had no time to spend on this project. Hopefully I can find some time to fix it soon.

[2021-12-31 06:16] asabi commented on #182
Yep, definitely broken, otherwise works like a charm! 😅 happy holidays.

[2022-01-17 00:57] zieglar opened #183 "Mole not support ssh Include configuration files"
## Affected Version
2.0.0

## Steps to Reproduce
1. split some ssh config to other file like `~/.ssh/config.d/home`
2. put  `Include ~/.ssh/config.d/*` to `~/.ssh/config` first line
3. detail in [https://superuser.com/a/1142813](https://superuser.com/a/1142813)

## Expected Behavior
mole can normal start

## Current Behavior
tell me `no user could be found for server xxxx`

[2022-01-24 04:42] hanjm commented on #182
I found `start alias --detach` not work as expected, then a found this issue, i try to debug and fix it:

1. cat `~/.mole/pg}/mole.log` and found the problem is missing `--id` flag logic.
[code]
2. fix it #184.
3. `go run main.go start alias pg -x` works find.
4.
[code]

[2022-03-15 15:41] dsfrederic opened #187 "Show instances is not returning anything"
## Affected Version

2.0.0
## Expected Behavior

Get information about running mole processes
## Current Behavior

![image](https://user-images.githubusercontent.com/28486949/158415582-fcde797b-71eb-4d61-925a-4583465c8082.png)

## Steps to Reproduce

1.
2.
3.
4.

[2022-07-10 17:27] brianchul commented on #182
There might be build error on Mac OS 12.4  with go1.18.3 while `build make` and `build test` on @hanjm's fix
a simple upgrade may fix `go get -u golang.org/x/sys`

error code:
[code]

[2022-10-30 19:41] akashkroy commented on #182
Detach is not working on Ubuntu :
I am using the latest release v2.0

After creating the tunnel when I check the log this is the output

[code]
There are no tunnels with the same ID.
Happens every time I run this but works fine when I run it without the detach parameter.